SA_PASSWORD=SentinelFlow_Dev_123!
DB_CONNECTION=Server=sqlserver,1433;Database=SentinelFlowDb;User Id=sa;Password=SentinelFlow_Dev_123!;TrustServerCertificate=True;Encrypt=False
ML_URL=http://ml-service:8000
